In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
aggregates_data = pd.read_csv("aggregates.csv")

In [3]:
#find quantity of unique users
aggregates_data.client_id.nunique()

9895

In [4]:
#delete columns with more than 50% null

deleted_columns = list()
columns = list(aggregates_data.columns)
for column in range(len(columns)):
    percent50 = 177963/2
    if aggregates_data[columns[column]].isnull().sum() > percent50:
        deleted_columns.append(columns[column])

aggregates_data = aggregates_data.drop(columns = deleted_columns)
aggregates_data.head()


#transfer date to timestamp
if str(type(aggregates_data.report_date[0])) == "<class 'str'>":
    for i in range(aggregates_data.shape[0]):
        #print(i)
        aggregates_data.report_date[i] = int(datetime.fromisoformat(aggregates_data.report_date[i]).timestamp())
aggregates_data.head()

<ipython-input-4-9b33fd8435cd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregates_data.report_date[i] = int(datetime.fromisoformat(aggregates_data.report_date[i]).timestamp())

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,total_num_cards,cnt_active,cnt_cur,first_opened,...,curdel_30plus_bki,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor
0,4268,1572555600,NaN,NaN,NaN,NaN,1.0,1.0,0.0,5.548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8951,1572555600,NaN,NaN,NaN,NaN,2.0,0.0,0.0,125.645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3485,1572555600,NaN,NaN,NaN,NaN,3.0,1.0,0.0,120.806,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8008,1572555600,2.0,6.0,12.0,24.0,2.0,1.0,0.0,14.516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1615,1572555600,NaN,NaN,NaN,NaN,4.0,1.0,0.0,210.452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#sort data with columns: 'client_id', 'report_date'
aggregates_data.fillna(0)

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,total_num_cards,cnt_active,cnt_cur,first_opened,...,curdel_30plus_bki,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor
0,4268,1572555600,0.0,0.0,0.0,0.0,1.0,1.0,0.0,5.548,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8951,1572555600,0.0,0.0,0.0,0.0,2.0,0.0,0.0,125.645,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3485,1572555600,0.0,0.0,0.0,0.0,3.0,1.0,0.0,120.806,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8008,1572555600,2.0,6.0,12.0,24.0,2.0,1.0,0.0,14.516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1615,1572555600,0.0,0.0,0.0,0.0,4.0,1.0,0.0,210.452,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177958,4351,1580504400,1.0,3.0,4.0,4.0,2.0,2.0,0.0,154.742,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177959,7780,1580504400,4.0,9.0,17.0,37.0,6.0,1.0,0.0,108.645,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
177960,50,1580504400,2.0,7.0,13.0,26.0,7.0,2.0,0.0,112.355,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177961,7928,1580504400,0.0,0.0,0.0,0.0,2.0,1.0,0.0,11.581,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177962,3964,1580504400,0.0,0.0,4.0,16.0,2.0,2.0,0.0,22.839,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
app_potreb_cnt_dict = dict()
for i in aggregates_data.index:
    user_id = aggregates_data.loc[i, 'client_id']
    app_potreb_cnt_dict[user_id] = aggregates_data.loc[i, 'app_potreb_cnt']

In [7]:
#make table of corelations
table_of_correlations = aggregates_data.corr()

In [8]:
#finding correlations
#we make array 'mean_score' with mean correlations, wich bigger than 80%
processed_data = aggregates_data
processed_data = processed_data.drop(columns = ['client_id', 'report_date'])

cols = list(processed_data.columns)
ser = np.array([[0] * len(cols)])
mean_score = pd.DataFrame(ser, columns = cols)

table_of_correlations = processed_data.corr()
for column in table_of_correlations:
    corelations = list(table_of_correlations[column])
    cnt = 0
    amount = 0.0
    for ind in range(len(corelations)):
        if corelations[ind] < 1 and corelations[ind] > 0.80:
            amount += corelations[ind]
            cnt += 1
    #print(column, " :   cnt: ", cnt, "  sum: ", amount)
    if cnt != 0:
        mean_score.loc[0, column] = amount/cnt

In [9]:

def get_number_or_name_of_max(df, fl = 0):
    # fl == 0 returns number of maximum
    # another fl returns name of maximum
    
    maxi = -1.0
    s = str()
    for column in df:
        elem = df.loc[0, column]
        if elem > maxi:
            maxi = elem
            s = column
    #print("maxi_res: ", maxi)
    if fl == 0:
        return maxi
    else:
        return s

In [10]:
# make 'set_of_deleted_elements' - list with deleting elements
# and a list 'selected_correlating_items' - set with not deleted elements which are responsible of deleted
set_of_deleted_elements = set()
selected_correlating_items = list()
while get_number_or_name_of_max(mean_score, 0) > 0.8:
    name = get_number_or_name_of_max(mean_score, 1)
    selected_correlating_items.append(name)
    ser = table_of_correlations[name]
    corr_list = list(ser)
    for i in range(len(corr_list)):
        if corr_list[i] > 0.8 and corr_list[i] < 1:
            set_of_deleted_elements.add(ser.index[i])
        
    
    mean_score = mean_score.drop(columns = [name])
    
    #delete correlated columns
    for name_to_del in set_of_deleted_elements:
        if name_to_del in mean_score.columns:
            mean_score = mean_score.drop(columns = [name_to_del])

In [11]:
len(set_of_deleted_elements)

27

In [12]:
selected_correlating_items

['total_liab_sum_bki_adv_agr',
 'curdel_30plus_bki',
 'total_liab_sum_bank_adv_agr',
 'max_liab_sum_bki_open',
 'total_num_cards',
 'cnt_zp_6m',
 'outstanding_open',
 'avg_delinquent_debt_total',
 'cnt_adv_repayment_gr_100k',
 'avg_liab_sum_total_open_agr',
 'cnt_adv25_closed',
 'total_curr_payment_rkk',
 'cl_closed_gr50k',
 'bank_count_first_12m_90',
 'bank_count_first_6m_1',
 'cl_closed',
 'cnt_zp_1m',
 'cnt_opened',
 'cnt_opened_6m',
 'cnt_adv_repayment_ls_50k',
 'bank_count_first_12m_30',
 'bank_count_first_6m_60']

In [13]:
#delete correlating features

#if you want to del correlating features delete uncomment this code:
#aggregates_data = aggregates_data.drop(columns = list(set_of_deleted_elements))

In [14]:
aggregates_data = aggregates_data.sort_values(['client_id', 'report_date'])
aggregates_data.to_csv("sorted_aggregates.csv")

In [15]:
aggregates_data

,client_id,report_date,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,total_num_cards,cnt_active,cnt_cur,first_opened,...,curdel_30plus_bki,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor
95011,0,1564606800,NaN,NaN,NaN,NaN,2.0,0.0,0.0,0.258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60502,0,1567285200,1.0,1.0,1.0,1.0,2.0,1.0,0.0,1.258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153434,0,1569877200,1.0,2.0,2.0,2.0,2.0,1.0,0.0,2.258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102743,0,1572555600,1.0,3.0,3.0,3.0,2.0,1.0,0.0,3.258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83932,0,1575147600,1.0,3.0,4.0,4.0,2.0,1.0,0.0,4.258,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11333,9999,1590958800,1.0,3.0,7.0,13.0,2.0,2.0,0.0,48.419,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
152535,9999,1593550800,1.0,3.0,6.0,13.0,2.0,2.0,0.0,49.419,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
45395,9999,1596229200,1.0,3.0,6.0,13.0,2.0,2.0,0.0,50.419,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
100490,9999,1598907600,1.0,3.0,6.0,13.0,2.0,2.0,0.0,51.419,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
138834,9999,1601499600,1.0,3.0,6.0,13.0,2.0,2.0,0.0,52.419,...,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0

In [16]:
#welcome to file 'bmstu_make_model'