In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("aggregates.csv")

In [3]:
# just for fun!!!!

types = data.dtypes
names = list(types.index)
t = list(types)
for i in range(len(names)):
    if str(t[i]) == 'object':
        print(names[i], t[i], " :     ", data[names[i]].unique())

report_date object  :      ['2019-11-01 00:00:00' '2019-02-01 00:00:00' '2020-09-01 00:00:00'
 '2020-09-01' '2019-03-01 00:00:00' '2020-06-01 00:00:00'
 '2019-12-01 00:00:00' '2020-07-01 00:00:00' '2019-10-01 00:00:00'
 '2020-04-01 00:00:00' '2020-04-01' '2019-09-01 00:00:00' '2020-06-01'
 '2020-08-01 00:00:00' '2020-01-01 00:00:00' '2019-01-01 00:00:00'
 '2019-04-01 00:00:00' '2019-06-01 00:00:00' '2020-02-01 00:00:00'
 '2019-10-01' '2020-07-01' '2020-03-01 00:00:00' '2020-05-01 00:00:00'
 '2019-08-01 00:00:00' '2019-05-01 00:00:00' '2020-10-01 00:00:00'
 '2020-08-01' '2020-10-01' '2019-09-01' '2019-07-01 00:00:00' '2020-05-01'
 '2020-03-01' '2019-12-01' '2019-11-01' '2020-01-01' '2020-02-01'
 '2019-03-01' '2019-07-01' '2019-08-01']
app_rel_status object  :      [nan 'женат / замужем' ' ' 'в разводе' 'Женат/Замужем'
 'холост / не замужем' 'Холост' 'Холост/Не замужем' 'вдова/вдовец'
 'В разводе' 'Одинокий' 'Разведен/Разведена' 'Холост / Не замужем'
 'Вдовец/Вдова' 'Женат / Замужем (брачный контракт)'
 'Никогда не состоял(а) в браке' 'Вдовец (вдова)'
 'Состоит в зарегистрированном браке'
 'Разведен(а) официально (развод зарегистрирован)' 'Гражданский брак'
 'женат / замужем (брачный контракт)' 'Женат'
 'Состоит в незарегистрированном браке' 'Незамужем' 'Замужем'
 'гражданский брак']
app_education_nm object  :      [nan 'Высшее' ' ' 'Неполное высшее' 'Среднее' 'Средне-специальное'
 'Два и более высших' 'Среднее специальное' 'Ученая степень'
 'Незаконченное высшее' 'высшее' 'среднее-специальное' 'среднее']
app_industry_nm object  :      [nan 'Другое' 'ТЭК/ химия и нефтехимия' 'ТЭК'
 'энергетика/ транспорт/ связь' 'Добывающая пром-ть'
 'Пищевая промышленность' ' ' 'МЕТАЛЛУРГИЯ' 'Сфера услуг' 'иное'
 'Правоохран. система' 'Здравоохранение' 'Нефтегазовая отрасль'
 'иные виды промышленности и добычи' 'Химическая пром-ть'
 'Информационные технологии' 'Торговля розничная'
 'наука/ образование/ культура' 'СТРОИТЕЛЬСТВО' 'Легкая промышленность'
 'МАШИНОСТРОЕНИЕ' 'Муницип. и фед. управ.' 'Общественное питание'
 'банки/ финансы/ страхование' 'Туризм' 'Легкая/пищевая пром-ть' 'Армия'
 'Образование' 'Сельское хозяйство' 'Банки и финансы' 'ТОРГОВЛЯ'
 'ТРАНСПОРТ' 'Телекоммуникации' 'Коммунальное хоз-во' 'Наука'
 'лесное хозяйство' '0' 'металлургия' 'сфера услуг' 'строительство'
 'торговля' 'машиностроение' 'пищевая промышленность'
 'Риэлторская деят-ть' 'легкая промышленность' 'сельское хозяйство' 'СМИ'
 'Издательская деят-ть' 'Торговля оптовая' 'Спортивные организации'
 'Культура' 'Социальная сфера' 'Общественные организации'
 'Информационные технологии/коммуникации']
app_employment_type_nm object  :      [nan 'Основная сфера деят-ти' '0'
 'основная деятельность организации/предпр' 'Технический персонал'
 'технический персонал' ' ' 'бухгалтерия, финансы, планирование'
 'Бухгалтерия, финансы' 'Администрация/трансп.' 'Строительство'
 'Отдел кадров' 'Телекоммуникации' 'Служба безопасности' 'Юриспруденция'
 'административно-хозяйственная служба' 'служба безопасности'
 'кадровая служба, секретариат' 'телекоммуникации'
 'основная деятельность организации/предприятия'
 'Основная сфера деятельности' 'юридическая служба' 'Реклама и маркетинг'
 'Бухгалтерия, финансы, планирование' 'Машиностроение']
app_position_type_nm object  :      [nan 'не руководящий сотрудник' ' ' 'руководитель (зам. рук-ля) подра'
 'Высококвалифицированный специа' 'Иное'
 'руководитель (зам. рук-ля) организации'
 'руководитель (зам. рук-ля) подразделения' 'Руководитель среднего звена'
 'Специалист' 'Военнослужащий' 'Рабочий' 'Служащий' 'иное'
 'руководитель (зам. рук-ля) орган' 'Руководитель начального звена'
 'Судья' 'Руководитель высшего звена']
app_client_category object  :      [nan 'Клиенты розничного кредитования'
 'Сотрудники Группы ГПБ, Группы Газпром и сотрудники организаций с аналогичными условиями кредитования'
 'Сотрудники приоритетных организаций' 'Прочие физические лица'
 'Сотрудники организаций - участников розничного кредитования'
 'Сотрудники организаций на зарплатном проекте'
 'Сотрудники группы Газпром' 'Сторонние физические лица' 'Стоп - лист'
 'Сотрудники Группы ГПБ, группы Газпром и аналогичные условия кредитования'
 'Private Banking и VIP клиенты' 'Сотрудники Газпромбанка'
 'Сотрудники стратегических / спец. клиентов, бюджетных учрежд']
cre_date object  :      [nan '2019-02-26 00:00:00' '2015-04-10 00:00:00' ... '2018-01-12'
 '2018-02-09' '2019-11-20']

In [4]:
# make table of correlations
table_of_correlations = data.corr()

In [5]:
table_of_correlations

,client_id,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,cur_cr_lim_month,...,curdel_30plus_bki,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor
client_id,1.000000,0.010265,0.012530,0.013172,0.013998,0.017933,0.004069,0.014668,0.002399,-0.016638,...,0.000700,-0.004731,-0.000750,-0.001966,0.000435,0.000622,-0.002812,0.007012,0.006067,0.011197
cnt_zp_1m,0.010265,1.000000,0.839388,0.756406,0.652746,0.015931,0.063147,0.029412,0.122761,-0.030904,...,-0.003086,-0.041003,-0.004655,-0.012100,0.001903,0.013578,-0.009117,-0.018468,-0.015507,-0.016095
cnt_zp_3m,0.012530,0.839388,1.000000,0.932179,0.822957,0.019670,0.078499,0.036462,0.152785,-0.030566,...,-0.009094,-0.046206,-0.009756,-0.010146,0.002128,0.023374,-0.009145,-0.020364,-0.016984,-0.020828
cnt_zp_6m,0.013172,0.756406,0.932179,1.000000,0.927479,0.022657,0.087994,0.041332,0.173127,-0.019412,...,-0.016250,-0.041160,-0.015887,-0.008703,-0.000462,0.028314,-0.008388,-0.017527,-0.017058,-0.021401
cnt_zp_12m,0.013998,0.652746,0.822957,0.927479,1.000000,0.028532,0.103948,0.050162,0.196002,0.006177,...,-0.028328,-0.028976,-0.026730,-0.007713,-0.006232,0.037380,-0.008047,-0.011175,-0.016819,-0.016823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bank_1_29_5y_debtor,0.000622,0.013578,0.023374,0.028314,0.037380,0.013778,0.009753,0.013112,0.010102,0.000359,...,0.014470,0.037506,0.011476,0.020995,0.004631,1.000000,0.156232,0.094747,0.083574,0.077938
bank_30_59_5y_debtor,-0.002812,-0.009117,-0.009145,-0.008388,-0.008047,0.002897,-0.014656,-0.001875,-0.024629,0.042614,...,0.057663,0.055935,0.052571,0.016445,0.007874,0.156232,1.000000,0.594443,0.232969,0.370121
bank_60_89_5y_debtor,0.007012,-0.018468,-0.020364,-0.017527,-0.011175,0.001790,-0.014532,-0.002676,-0.018972,0.046899,...,0.080718,0.193436,0.085468,0.007239,0.007777,0.094747,0.594443,1.000000,0.324572,0.425479
bank_90_119_5y_debtor,0.006067,-0.015507,-0.016984,-0.017058,-0.016819,-0.002692,-0.018590,-0.007187,-0.017098,-0.016366,...,0.042186,0.310173,0.042687,-0.000781,-0.001324,0.083574,0.232969,0.324572,1.000000,0.084354
bank_120plus_5y_debtor,0.011197,-0.016095,-0.020828,-0.021401,-0.016823,0.003176,-0.004231,0.001227,-0.023938,0.063278,...,0.048570,0.428300,0.052809,-0.001081,-0.001832,0.077938,0.370121,0.425479,0.084354,1.000000

In [6]:
# make table 'mean_score' with mean correlations > 0.8
processed_data = data
processed_data['mean_corr'] = 0
processed_data = processed_data.drop(columns = ['client_id', 'report_date'])

cols = list(processed_data.columns)
ser = np.array([[0] * len(cols)])
mean_score = pd.DataFrame(ser, columns = cols)

table_of_correlations = processed_data.corr()
for column in table_of_correlations:
    corelations = list(table_of_correlations[column])
    cnt = 0
    amount = 0.0
    for ind in range(len(corelations)):
        if corelations[ind] < 1 and corelations[ind] > 0.80:
            amount += corelations[ind]
            cnt += 1
    #print(column, " :   cnt: ", cnt, "  sum: ", amount)
    if cnt != 0:
        mean_score.loc[0, column] = amount/cnt

In [7]:
mean_score

,cnt_zp_1m,cnt_zp_3m,cnt_zp_6m,cnt_zp_12m,downlimit_count,uplimit_count,limit_exchange_count,cur_credit_limit,cur_cr_lim_month,prev_credit_limit,...,curdel_60plus_bank,curdel_60plus_bki,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor,mean_corr
0,0.839388,0.864842,0.929829,0.875218,0.913949,0.875701,0.950237,0,0,0,...,0,0.937195,0,0,0,0,0,0,0,0

In [8]:
def get_number_or_name_of_max(df, fl = 0):
    # fl == 0 returns number of maximum
    # another fl returns name of maximum
    
    maxi = -1.0
    s = str()
    for column in df:
        elem = df.loc[0, column]
        if elem > maxi:
            maxi = elem
            s = column
    #print("maxi_res: ", maxi)
    if fl == 0:
        return maxi
    else:
        return s

In [10]:
# make 'set_of_deleted_elements' - list with deleting elements
# and a list 'selected_correlating_items' - set with not deleted elements which are responsible of deleted
set_of_deleted_elements = set()
selected_correlating_items = list()
while get_number_or_name_of_max(mean_score, 0) > 0.8:
    name = get_number_or_name_of_max(mean_score, 1)
    selected_correlating_items.append(name)
    ser = table_of_correlations[name]
    corr_list = list(ser)
    for i in range(len(corr_list)):
        if corr_list[i] > 0.8 and corr_list[i] < 1:
            set_of_deleted_elements.add(ser.index[i])
        
    
    mean_score = mean_score.drop(columns = [name])
    
    #delete correlated columns
    for name_to_del in set_of_deleted_elements:
        if name_to_del in mean_score.columns:
            mean_score = mean_score.drop(columns = [name_to_del])

In [11]:
set_of_deleted_elements

{'amt_min_prlg_max_5y',
 'app_income_from_amt',
 'app_income_to_amt',
 'app_last_job_experience_to_val',
 'avg_debt_3m',
 'avg_debt_6m',
 'avg_dep_avg_balance_12month',
 'avg_dep_avg_balance_1month',
 'avg_dep_avg_balance_3month',
 'avg_dep_avg_balance_6month',
 'avg_liab_sum_total',
 'avg_outstanding_amount_1m',
 'avg_outstanding_amount_6m',
 'avg_ovd_amount_3m',
 'avg_ovd_amount_6m',
 'avg_utilization_3m',
 'avg_utilization_6m',
 'bank_count_first_12m_1',
 'bank_count_first_12m_60',
 'bank_count_first_6m_90',
 'bank_liab_paym',
 'bki_liab_paym',
 'card_open',
 'cl_closed_gr100k',
 'cl_closed_ls50k',
 'cnt_adv_repayment',
 'cnt_adv_repayment_gr_50k',
 'cnt_closed',
 'cnt_dep_closed_5y',
 'cnt_inquiry_last1m',
 'cnt_inquiry_last1w',
 'cnt_inquiry_last6m',
 'cnt_opened_1y',
 'cnt_zp_12m',
 'cnt_zp_3m',
 'curdel_0plus_bki',
 'curdel_60plus_bki',
 'curr_arrear_rur',
 'downlimit_count',
 'max_amt_dep_5y',
 'max_amt_dep_6m',
 'max_dep_avg_balance_12month',
 'max_dep_avg_balance_1month',
 'max_dep_avg_balance_3month',
 'max_liab_sum_bank_open',
 'max_max_dep_balance',
 'max_outstanding_amount_1m',
 'max_outstanding_amount_3m',
 'max_outstanding_amount_6m',
 'max_ovd_amount_1m',
 'max_ovd_amount_3m',
 'max_ovd_amount_6m',
 'max_utilization_1m',
 'max_utilization_3m',
 'micro_closed',
 'min_amt_term_g1y_closed',
 'min_paym_bank_act',
 'num_debit_cards',
 'outstanding',
 'ratio_adv_repayment',
 'ratio_adv_repayment_adv_gr_100k',
 'ratio_adv_repayment_adv_gr_500k',
 'ratio_cl_closed_gr100k',
 'ratio_cl_closed_gr50k',
 'ratio_cl_closed_ls50k',
 'sum_dep_expense_1month',
 'sum_dep_expense_6month',
 'sum_dep_income_3month',
 'sum_dep_now',
 'total_liab_sum_bank_adv25_agr',
 'total_liab_sum_bank_closed_agr',
 'total_liab_sum_bank_open_agr',
 'total_liab_sum_bki_adv25_agr',
 'total_liab_sum_bki_open_agr',
 'uplimit_count',
 'utilization'}

In [12]:
selected_correlating_items

['total_liab_sum_bki_adv_agr',
 'cnt_inquiry_last3m',
 'cnt_dep_5y',
 'ratio_adv_repayment_adv_ls_50k',
 'max_amt_dep_closed_5y',
 'curdel_30plus_bki',
 'avg_ovd_amount_1m',
 'total_liab_sum_bank_adv_agr',
 'limit_exchange_count',
 'max_liab_sum_bki_open',
 'total_num_cards',
 'avg_outstanding_amount_3m',
 'cnt_zp_6m',
 'max_dep_avg_balance_6month',
 'app_last_job_experience_from_val',
 'avg_utilization_1m',
 'sum_dep_income_1month',
 'ratio_adv_repayment_adv_gr_50k',
 'outstanding_open',
 'avg_delinquent_debt_total',
 'max_paym_bank',
 'max_paym_bank_act',
 'cnt_adv_repayment_gr_100k',
 'cnt_adv25_closed',
 'total_curr_payment_rkk',
 'cl_closed_gr50k',
 'bank_count_first_12m_90',
 'max_amt_dep_act',
 'ratio_cl_closed_gr500k',
 'bank_count_first_6m_1',
 'sum_dep_income_6month',
 'avg_liab_sum_total_open_agr',
 'ratio_cl_closed',
 'sum_dep_expense_3month',
 'max_utilization_6m',
 'max_max_dep_income',
 'amt_min_prlg_max',
 'cl_closed',
 'cnt_zp_1m',
 'cnt_opened',
 'sum_sal_acc_inc_6month_amt_rur',
 'cnt_opened_6m',
 'cnt_adv_repayment_ls_50k',
 'bank_count_first_12m_30',
 'bank_count_first_6m_60',
 'cnt_early_withdraw_5y']

In [13]:
data.drop(columns = list(set_of_deleted_elements))

,client_id,report_date,cnt_zp_1m,cnt_zp_6m,limit_exchange_count,cur_credit_limit,cur_cr_lim_month,prev_credit_limit,avg_outstanding_amount_3m,avg_ovd_amount_1m,...,curdel_30plus_bki,curdel_60plus_bank,curdel_tech_bank,curdel_tech_bki,bank_1_29_5y_debtor,bank_30_59_5y_debtor,bank_60_89_5y_debtor,bank_90_119_5y_debtor,bank_120plus_5y_debtor,mean_corr
0,4268,2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,8951,2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,3485,2019-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,8008,2019-11-01 00:00:00,2.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1615,2019-11-01 00:00:00,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177958,4351,2020-02-01 00:00:00,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
177959,7780,2020-02-01 00:00:00,4.0,17.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0
177960,50,2020-02-01 00:00:00,2.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
177961,7928,2020-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
177962,3964,2020-02-01 00:00:00,0.0,4.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [14]:
# quantity of deleted elements
number_of_deleted_elements = len(set_of_deleted_elements)
number_of_deleted_elements

76